@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body {
    font-family: "Poppins", sans-serif;
    text-align: -webkit-center;
    margin-top: 0px;
}

ul {
    display: inline-flex;
    white-space: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    display: list-item;
    text-decoration: none;
    background-color: indigo;
    color: #fcfcff;
    padding: 14px 25px;
} 

a:hover {
    background-color: DarkSlateBlue;
}

table, fieldset {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #eef1f4;
    border-radius: 3px;
    padding: 30px;
    margin-top: 10px;
    width: 350px;
}

fieldset {
    max-width: 375px;
    padding: 15px;
    border: none;
    padding: 20px;
}

fieldset div {
    text-align: left;
    margin-top: 15px;
}

button {
    background-color: DarkSlateBlue;
    color: #fcfcff;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

label {
    font-size: 18px;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 5px;
}

input {
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid indigo;
    background: transparent;
}
.expand {
    display: table-row;
}
.collapse {
    display: none;
  }
  