{
    "extends" : "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
        "jsx": true,
        "modules": true
        }
    },
    "env": {
        "node": true,
        "browser": true
    }
}