/* 
  This is an external stylesheet that is imported by the starter-component component.
  the :host selector refers to the custom element that hosts the styles.
  
  The styles defined here will only apply at the component level,
  unlike normal CSS.

  CSS Custom properties can be set anywhere, but in this case, they are
  set at the root of the app (in assets/css/global.css) so we can use
  the variables anywhere, including in scoped CSS such as this.
*/

:host {
  margin-top: 50px;

  /* Using a variable set in global.css */
  color: var(--color-gray-base);
}