<link rel="import" href="~@banno/polymer/polymer-element.html">
<dom-module id="create-user">
  <template>
    <style>
      ul {
        display: inline-flex;
        white-space: nowrap;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      a {
        display: list-item;
        text-decoration: none;
        background-color: indigo;
        color: #fcfcff;
        padding: 14px 25px;
      }
      a:hover {
        background-color: DarkSlateBlue;
      }
      table,
      fieldset {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: #eef1f4;
        border-radius: 3px;
        padding: 30px;
        margin-top: 10px;
        width: 350px;
      }
      fieldset {
        max-width: 375px;
        padding: 15px;
        border: none;
        padding: 20px;
      }
      fieldset div {
        text-align: left;
        margin-top: 15px;
      }
      button {
        background-color: DarkSlateBlue;
        color: #fcfcff;
        border-radius: 3px;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
      }
      label {
        font-size: 18px;
        margin-top: 25px;
        padding-left: 30px;
        padding-right: 5px;
      }
      input {
        font-size: 18px;
        border: 0;
        border-bottom: 1px solid indigo;
        background: transparent;
      }
    </style>
    <h3>Create User Component</h3>
    <form>
      <fieldset>
        <div>
          <label for="firstName">First name:</label>
          <input type="text" name="firstName" id="firstName">
        </div>
        <div>
          <label for="lastName">Last name:</label>
          <input type="text" name="lastName" id="lastName">
        </div>
        <div>
          <label for="phone">Phone:</label>
          <input type="text" name="phone" id="phone">
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="text" name="email" id="email">
        </div>
        <button type="submit">Save</button>
      </fieldset>
    </form>
  </template>
  <script type="module">
    class CreateUser extends Polymer.Element {
      static get is() { return 'create-user'; }

      static get properties() {
          return {
              id: Number,
              firstName: String,
              lastName: String,
              phoneNumber: Number,
              email: String
          };
      }
    }
    customElements.define(CreateUser.is, CreateUser);
    export default CreateUser;
  </script>
</dom-module>