<link rel="import" href="~@banno/polymer/polymer-element.html">
<link rel="import" href="./user-list.html">
<link rel="import" href="./create-user.html">

<dom-module id="intern-app">
  <template>
    <style>
      h1 {
        background-color: indigo;
        color: #fcfcff;
        padding: 14px 25px;
        margin: 0px;
      }
    </style>
    <header>
      <h1>Intern App</h1>
    </header>
    <create-user></create-user>
    <user-list user-profiles="[[userProfiles]]"></user-list>
  </template>
  <script type="module">
    'use strict'
    class InternApp extends Polymer.Element {
      static get is() { return 'intern-app'; }

      static get properties() {
        return {
          userProfiles: {
            type: Array,
            value: () => {
              return [
                { id: "001", firstName: 'Nick', lastName: 'Cage', phoneNumber: 6413223232, email: "nick@nickcage.com" },
                { id: "002", firstName: 'Jack', lastName: 'Cage', phoneNumber: 6413223232, email: "nick@nickcage.com" },
                { id: "003", firstName: 'Betty', lastName: 'Cage', phoneNumber: 6413223232, email: "nick@nickcage.com" },
                { id: "004", firstName: 'Jordan', lastName: 'Cage', phoneNumber: 6413223232, email: "nick@nickcage.com" },
                { id: "005", firstName: 'Brian', lastName: 'Cage', phoneNumber: 6413223232, email: "nick@nickcage.com" },
                { id: "006", firstName: 'Gabby', lastName: 'Cage', phoneNumber: 6413223232, email: "nick@nickcage.com" },
                { id: "007", firstName: 'John', lastName: 'Cage', phoneNumber: 6413223232, email: "nick@nickcage.com" },
                { id: "008", firstName: 'Tony', lastName: 'Cage', phoneNumber: 6413223232, email: "nick@nickcage.com" },
                { id: "009", firstName: 'Ryan', lastName: 'Cage', phoneNumber: 6413223232, email: "nick@nickcage.com" },
                { id: "010", firstName: 'Mack', lastName: 'Cage', phoneNumber: 6413223232, email: "nick@nickcage.com" }
            ];
            }
          }
        }
      }
      constructor() {
        super();
        this.boundNewUser = this.newUser.bind(this);
      }

      connectedCallback() {
        super.connectedCallback();
        window.addEventListener("newUser", this.boundNewUser);   
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        window.removeEventListener("newUser", this.boundNewUser); 
      }

      newUser(event) {
        var newUserProfile = Object.assign({}, event.detail);
        newUserProfile.id = this.genId();
        this.pushToArray(this.userProfiles, newUserProfile);
      }

      pushToArray(userProfiles, newUserProfile) {
        var existingIds = userProfiles.map((newUserProfile) => newUserProfile.id);
        if (!existingIds.includes(newUserProfile.id)) {
          this.push('userProfiles', newUserProfile);
        }
        else {
          newUserProfile.id = this.genId();
          this.push('userProfiles', newUserProfile);
        };
      };

      genId() {
        return '_' + Math.random().toString(8).substr(2, 9);
      }
    }
    customElements.define(InternApp.is, InternApp);
    export default InternApp;
  </script>
</dom-module>