<link rel="import" href="~@banno/polymer/polymer-element.html">
<link rel="import" href="~@banno/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../node_modules/@banno/jha-design-components/icons/jha-icon-email.html">
<link rel="import" href="../../node_modules/@banno/jha-design-components/icons/jha-icon-phone.html">
<link rel="import" href="../../node_modules/@banno/jha-design-components/avatars/jha-avatar.html">
<link rel="import" href="../../node_modules/@banno/jha-design-components/icons/jha-icon-delete.html">
<link rel="import" href="../../node_modules/@banno/jha-design-components/icons/jha-icon-edit.html">
<link rel="import" href="../../node_modules/@banno/jha-design-components/icons/jha-icon-save.html">
<link rel="import" href="../../node_modules/@banno/jha-design-components/icons/jha-icon-arrow-back.html">
<link rel="import" href="../../node_modules/@banno/jha-design-components/icons/jha-icon-visibility.html">

<dom-module id="user-profile">
  <template>
    <style>
      table {
        width: 400px;
        padding-left: 10px;
      }

      td {
        padding-left: 20px;
        font-size: 18px;
        vertical-align: bottom;
      }

      button {
        color: #fcfcff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: indigo;
        font-size: 12px;
        border-radius: 3px;
        border: none;
        text-align: center;
        padding: 10px;
        margin: 30px 10px 10px 0px;
        width: 115px;
      }

      button:hover {
        opacity: 0.9;
        transition: all 0.3s ease;
      }

      label {
        padding-right: 5px;
        margin-top: 15px;
        padding-top: 10px;
      }

      input {
        font-size: 18px;
        border: 0;
        border-bottom: 1px solid indigo;
        background: transparent;
        margin-top: 5px;
        padding-top: 10px;
      }

      jha-icon-delete,
      jha-icon-edit,
      jha-icon-save,
      jha-icon-visibility {
        fill: #fcfcff;
        height: 16px;
        width: 16px;
        vertical-align: text-bottom;
        padding-left: 5px;
      }

      jha-avatar {
        padding-bottom: 10px;
        height: 48px;
        width: 48px;
      }

      .delete {
        background-color: #d1250ee3;
      }

      @media (max-width: 600px) {
        table {
          width: 200px;
          padding-left: 5px;
          display: contents;
        }

        td {
          padding-left: 10px;
          font-size: 11px;
          vertical-align: bottom;
        }

        button {
          background-color: indigo;
          color: #fcfcff;
          border-radius: 3px;
          text-align: center;
          padding: 8px;
          margin-top: 10px;
          font-size: 9px;
          margin-left: 10px;
          margin-right: 10px;
          width: 110px;
        }

        .save {
          display: none;
        }
      }
    </style>
    <template is="dom-if" if="[[addUserSelected]]">
      <table>
        <tr>
          <td><label for="firstName">First name</label></td>
          <td><input type="text" id="firstName" name="firstName" placeholder="First Name" value="{{user.firstName::input}}"></td>
        </tr>
        <tr>
          <td><label for="lastName">Last name</label></td>
          <td><input aria-label="input" type="text" id="lastName" name="lastName" placeholder="Last Name" value="{{user.lastName::input}}"></td>
        </tr>
        <tr>
          <td><label for="phone">Phone</label></td>
          <td><input aria-label="input" type="text" id="phone" name="phone" placeholder="(000)000-0000" value="{{user.phoneNumber::input}}"></td>
        </tr>
        <tr>
          <td><label for="email">Email</label></td>
          <td><input aria-label="input" type="text" id="email" name="email" placeholder="Email" value="{{user.email::input}}"></td>
        </tr>
      </table>
      <button type="button" on-click="newProfile"><label class="save">Save</label><jha-icon-save aria-hidden="true"></jha-icon-save></button>
    </template>
    <template is="dom-if" if="[[isPopulated]]">
      <jha-avatar>
        <img src="../assets/img/space.jpg" alt="[[user.firstName]] [[user.lastName]]">
      </jha-avatar>
      <table>
        <tr>
          <td>ID </td>
          <td>[[user.id]]</td>
        </tr>
        <tr>
          <td>Name </td>
          <td>[[user.firstName]][[user.lastName]]</td>
        </tr>
        <template class="expanded" is="dom-if" if="[[isExpanded]]">
          <tr>
            <td>
              <jha-icon-phone aria-hidden="true"></jha-icon-phone>
            </td>
            <td>[[user.phoneNumber]]</td>
          </tr>
          <tr>
            <td>
              <jha-icon-email aria-hidden="true"></jha-icon-email>
            </td>
            <td>[[user.email]]</td>
          </tr>
        </template>
      </table>
      <button type="button" on-click="cardExpandCollapse">[[collapseButtonText(isExpanded)]]<jha-icon-visibility aria-hidden="true"></jha-icon-visibility></button>
      <button type="button" on-click="enterEditUserProfile">Edit<jha-icon-edit aria-hidden="true"></jha-icon-edit></button>
      <button class="delete" type="button" on-click="deleteUserProfile" indexed$=[[user.id]]>Delete<jha-icon-delete aria-hidden="true"></jha-icon-delete></button>
    </template>
    <template is="dom-if" if="[[editSelected]]">
      <table>
        <tr>
          <td><label for="firstName">First name</label></td>
          <td><input aria-label="input" type="text" id="firstName" name="firstName" placeholder="First Name" value="{{user.firstName::input}}"></td>
        </tr>
        <tr>
          <td><label for="lastName">Last name</label></td>
          <td><input aria-label="input" type="text" id="lastName" name="lastName" placeholder="Last Name" value="{{user.lastName::input}}"></td>
        </tr>
        <tr>
          <td><label for="phone">Phone</label></td>
          <td><input aria-label="input" type="text" id="phone" name="phone" placeholder="(000)000-0000" value="{{user.phoneNumber::input}}"></td>
        </tr>
        <tr>
          <td><label for="email">Email</label></td>
          <td><input aria-label="input" type="text" id="email" name="email" placeholder="Email" value="{{user.email::input}}"></td>
        </tr>
      </table>
      <button type="button" on-click="editUserProfile" indexed$=[[user.id]]><label class="save">Save</label>
        <jha-icon-save aria-hidden="true"></jha-icon-save>
      </button>
    </template>
  </template>
  <script type="module">
    'use strict';
    class UserProfile extends Polymer.Element {
      static get is() { return 'user-profile'; }

      static get properties() {
        return {
          user: {
            type: Object,
            value: function () {
              return {
                id: '',
                firstName: '',
                lastName: '',
                phoneNumber: '',
                email: ''
              };
            }
          },
          firebaseClass: {
            type: Object,
          },
          isExpanded: {
            type: Boolean,
            value: true
          },
          editSelected: {
            type: Boolean,
            value: false
          },
          addUserSelected: {
            type: Boolean,
          },
          isPopulated: {
            type: Boolean,
          }
        }
      }

      newProfile(event) {
        this.dispatchEvent(new CustomEvent("newUser", {
          bubbles: true,
          composed: true,
          detail: this.user
        }));
        this.user = {
          id: '',
          firstName: '',
          lastName: '',
          phoneNumber: '',
          email: ''
        };
      }

      editUserProfile(event) {
        const userId = event.target.getAttribute('indexed');
        firebaseClass.updateUser(userId, this.user);
        this.dispatchEvent(new CustomEvent("updateUsers", {
          bubbles: true,
          composed: true,
          detail: this.user
        }));
        this.editSelected = !this.editSelected;
        this.isPopulated = !this.isPopulated;
      }

      deleteUserProfile(event) {
        const userId = event.target.getAttribute('indexed');
        this.firebaseClass.deleteUser(userId);
        this.dispatchEvent(new CustomEvent("updateUsers", {
          bubbles: true,
          composed: true,
          detail: this.user
        }));
      }

      cardExpandCollapse(event) {
        this.isExpanded = !this.isExpanded;
      }

      enterEditUserProfile(event) {
        this.editSelected = !this.editSelected;
        this.isPopulated = !this.isPopulated;
      }

      collapseButtonText(isExpanded) {
        return isExpanded ? `Collapse` : `Expand`;
      }

      changeButtonText(addUserSelected) {
        return addUserSelected ? `Save` : `Create User`;
      }
    }
    customElements.define(UserProfile.is, UserProfile);
    export default UserProfile;
  </script>
</dom-module>