
<link rel="import" href="~@banno/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="./user-profile.html">

<dom-module id="user-list">
  <template>
    <style>
    </style>
    <h3>User List Component</h3>
    <template is="dom-repeat" items="[[userProfiles]]">
      <user-profile 
        id="[[item.id]]" 
        first-name="[[item.firstName]]" 
        last-name="[[item.lastName]]"
        phone-number="[[item.phoneNumber]]" 
        email="[[item.email]]">
      </user-profile>
    </template>
  </template>
  <script type="module">
    'use strict'
    class UserList extends Polymer.Element {
      static get is() { return 'user-list'; }

      static get properties() {
        return {
          userProfiles: {
            type: Array,
          }
        }
      }
    }
    customElements.define(UserList.is, UserList);
    export default UserList;
  </script>
</dom-module>