<link rel="import" href="~@banno/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="./user-profile.html">

<dom-module id="user-list">
  <template>
    <style>
      user-profile {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: #eef1f4;
        border-radius: 3px;
        padding: 18px;
        margin-top: 15px;
        width: 400px;
        display: block;
      }

      @media (max-width: 600px) {
        user-profile {
          width: 200px;
          margin-top: 10px;
        }
      }
    </style>
    <template is="dom-if" if="[[addUserSelected]]">
      <user-profile
        add-user-selected="[[addUserSelected]]"
        firebase-class="[[firebaseClass]]">
      </user-profile>
    </template>
    <template is="dom-repeat" items="[[userProfiles]]">
      <user-profile 
        user="[[item]]"
        firebase-class="[[firebaseClass]]"
        is-populated>
      </user-profile>
    </template>
  </template>
  <script type="module">
    'use strict'
    class UserList extends Polymer.Element {
      static get is() { return 'user-list'; }

      static get properties() {
        return {
          userProfiles: {
            type: Array,
          },
          firebaseClass: {
            type: Object,
          },
          addUserSelected: {
            type: Boolean,
          },
          isPopulated: {
            type: Boolean,
          }
        }
      }
    }
    customElements.define(UserList.is, UserList);
    export default UserList;
  </script>
</dom-module>