<!DOCTYPE html>
<!-- HTML Imports are declared at the top. -->
<!-- This includes the Polymer base and any other Polymer elements you use in this element. -->
<link rel="import" href="~@banno/polymer/polymer-element.js">

<!-- The element definition is stored in a <dom-module>. -->
<dom-module id="starter-component">
  <!-- The <template> tag contains the HTML template that is used by the component. -->
  <!-- This includes the <style> tag or a link to an external stylesheet. -->
  <template>
    <!-- In this element, we are linking an external stylesheet. -->
    <!-- This <link> tag can be replaced with a <style> tag without any problem. -->
    <link type="text/css" rel="stylesheet" href="./starter-component.css">
    <div class="starter">
      <!-- Any content inside the template tag becomes element content. Try adding text here. -->
    </div>
  </template>

  <!-- The <script> tag holds the class definition for the component. -->
  <!-- Items such as lifecycle functions and element properties are defined here. -->
  <script type="module">
    import { Element as PolymerElement } from '@banno/polymer/polymer-element.js';
    class StarterComponent extends PolymerElement {
      // static get is() {...} is the only required function in a Polymer component.
      // More functionality can be provided by adding custom functions and extending
      // lifecycle functions such as ready() and connectedCallback().
      static get is() { return 'starter-component' }
    }
    customElements.define(StarterComponent.is, StarterComponent);
    export default StarterComponent;
  </script>
</dom-module>